html, body {
	font-family: 'Roboto', 'Helvetica', sans-serif;
}

header {
	height: 56px;
	background-color: rgb(0,150,136);
}

header a .mdl-layout-title {
	width: 6.5em;
	height: 1.5em;
	top: .75em;
	background:
		 url(../Hackacarlogo.png)    /* image */
		 center / 100% 100%/* position / size */
}

header * {
	line-height: 3.5em !important;
	left: 1em;
	color: white;
}

body {
	background:
		 url(../car.jpg)    /* image */
		 center center / cover/* position / size */
}

.centered, dialog {
	text-align: center;
}

button#cancelButton {
	background-color: rgb(230,50,70);
	color: white;
}